@model Profesional

@{
    ViewBag.Title = "Borrar";
    var photopath = "/imagenes/noimage.jpg";
    if (Model.Photopath != null)
    {
        photopath = Model.Photopath;
    }

}
@using (Html.BeginForm("Delete", "Profesional"))
{
    @Html.HiddenFor(model => model.Persona.PersonaId)
    @Html.HiddenFor(model => model.ProfesionalId)
    @Html.HiddenFor(model => model.PersonaId)
    @Html.HiddenFor(model => model.Activo)
    @Html.HiddenFor(model => model.Creado)
    <div class="col-md-6 col-xl-3">
        <div class="card mb-lg-5">
            <div class="card-header">
                <h5 class="card-title mb-0">Detalle profesional @Html.DisplayFor(model => model.Persona.Nombre) @Html.DisplayFor(model => model.Persona.Apellido)</h5>
            </div>
            <div class="card-body text-center">
                <img src=@photopath class="rounded-circle z-depth-1-half avatar-pic ui-resizable" alt="example placeholder avatar" height="150" width="150">
            </div>
            <hr class="my-0">
            <div class="card-body">
                <h5 class="h6 card-title font-weight-bold">Datos profesional</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a><i class="fas fa-file-alt font-weight-bold"> Nombre:</i><span class="font-weight-bold">@Model.Persona.Nombre</span></a>
                    </li>
                    <li>
                        <a><i class="fas fa-file-alt"> Apellido: @Model.Persona.Apellido</i></a>
                    </li>
                    <li>
                        <i class="fas fa-calendar"> Fecha nacimiento: @Model.Persona.FechaNacimiento.Value.ToShortDateString()</i>
                    </li>
                    <li>
                        <i class="fa fa-venus-mars text-black-50 font-weight-bold"> Sexo:</i><span class="font-weight-bold font-italic">@(Model.Persona.Sexo == "M" ? "Masculino" : "Femenino")</span>

                    </li>
                    <li>
                        <i class="fa fa-clipboard-check text-black-50 font-weight-bold"> Matricula nacional:</i><span class="font-weight-bold font-italic">@Model.MatriculaNacional</span>
                    </li>
                    <li>
                        <i class="fa fa-clipboard-check text-black-50 font-weight-bold"> Matricula provincial:</i><span class="font-weight-bold font-italic">@Model.MatriculaProvincial</span>
                    </li>
                </ul>
            </div>
            <hr class="my-0">
            <div class="card-body">
                <h5 class="h6 card-title font-weight-bold">Especialidades</h5>
                @foreach (var item in (IList<Especialidad>)ViewBag.especialidades)
                {
                    <a href="#" class="badge badge-primary mr-1 my-1">@item.Descripcion</a>
                }
            </div>
            <hr class="my-0">
            <div class="card-body">
                <h5 class="h6 card-title font-weight-bolder">Clinicas</h5>
                <ul class="list-unstyled mb-0">

                    @foreach (var item in (IList<Clinica_profesionales>)ViewBag.clinicas)
                    {
                        <li>
                            <i class="fas fa-clinic-medical"> Clinica:<span>@item.Clinica.Nombre</span></i>
                        </li>
                    }

                </ul>
            </div>
            <hr>
            <div class="card-body">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a href="@Url.Action("Desactivar", new { id = Model.ProfesionalId })" class="btn btn-dark">Desactivar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
